<h1 class="text-2xl font-bold">Listado de productos</h1>
<h3 class="text-lg">
  Total de productos
  <span class="text-accent">{{productResource.value()?.count}}</span>
</h3>
<div class="divider"></div>
<div class="flex items-center justify-between">
  <pagination [pages]="productResource.value()?.pages ?? 0"  [currentPage]="paginationService.currentPage()"/>
  <select class="select select-bordered -mt-5 w-32" #select (change)="productPerPage.set(+select.value)">
    <option value="10">10</option>
    <option value="20">20</option>
    <option value="50">50</option>
    <option value="100">100</option>
  </select>
  <div class="flex flex-1"></div>
  <button routerLink="/admin/products/new" class="btn btn-primary -mt-5">Nuevo producto</button>
</div>
<!---->
<product-table [products]="productResource.value()?.products ?? []" />
