<h1 class="text-3xl font-bold font-montserrat">Todos los productos</h1>
<h2 class="text-xl mb-5">Para todos los gustos</h2>
<pagination [pages]="productResource.value()?.pages ?? 0" [currentPage]="paginationService.currentPage()"/>
<div
  class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 mt-2 gap-3"
>
  @if(productResource.isLoading()){
  <div class="flex justify-center items-center w-screen h-screen">
    <span class="loading loading-spinner loading-lg"></span>
  </div>
  }
  <!--  -->
  @if (productResource.hasValue()) {
    @for (product of products; track product.id) {
      <product-card [product]="product"/>
  }@empty {
      <p>No hay productos</p>
    }
  }
</div>
